node_modules/
public/components
.nyc_output
.sass-cache
R/D3_LM1.html
R/D3_LM2.html
R/D3_LM.html
R/example.R
R/htmltools
R/htmlwidgets
R/igraph
R/jsonlite
R/magrittr
R/new2.R
R/new.R
R/otro
R/pkgconfig
R/R1.R
R/Rcpp
R/yaml
