<div class="not-found">
	<p><%- notFound %></p>
</div>

<p>The option below is used to determine when to stop searching while creating the tree. The range of values goes from 1 to 500 for 
the nodes setting.</p>

<form id="getWalletTree" action="/getWalletTree" method="get">
  <div class="form-group">
    <label>Maximum number of nodes the tree can have:</label>
    <input type="number" min="1" max="500" step="1" class="form-control" name="nodeNum" id="nodeNum" placeholder="Nodes number (natural number). Default 250.">
  </div>

  <div class="form-group">
    <label>Wallet to start tracking from. A random one will be chosen if noone is set.</label>
    <input type="text" class="form-control" name="wallet" id="wallet" placeholder="Wallet to start from.">
  </div>
  
  <div class="form-group">
  	<label>Type of graph to build:</label>
  	<select class="form-control" name="type" form="getWalletTree">
  		<option value="normal">Normal</option>
  		<option value="betweenness">Betweenness</option>
	</select>
	<button type="submit" class="btn btn-default">Search</button>
  </div>
</form>

