<% include header %>

<% include nav %>

<div class="jumbotron">
	<div class="container">
		<h1>Tracking wallets on Ethereum's blockchain</h1>
	</div>
</div>

<% include formWalletsTracking %>

<% include footer %>